<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer created by details -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Created By</h4>
        <p class="lead mb-0">Shajeer
          <br>Bukit batok street 52, Singapore</p>
      </div>

      <!-- Footer centeral details Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">

      </div>

      <!-- Footer contact info  -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Contact Info</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i>+65 83105744</i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i>shajeerpk4@gmail.com</i>
        </a>
      </div>

    </div>
  </div>
</footer>