.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid Indigo;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    align-content: center;
    align-items: center;
    align-self: center
  }
  .mainDiv{
      margin-left: 50%;
      margin-top: 10%
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }