nav {
    display: block;
  }
  .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
//search buttom back color

.SerachBtn{
  background-color: aliceblue;
}

.bg-secondary {
  background-color: Indigo !important;
  border-bottom-width: 2px !important
}

.navbar-brand {
  
    display: inline-block;
    color: white;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    font-size: xx-large;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 10px;
}

