<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Coding Challenge</a>
  </div>
   <!-- search buttoon ,feed key word entering  -->
  <div class="col-sm-2 col-md-2 pull-right">
    <form class="navbar-form" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"
          (change)="onChange($event)">
        <div class="input-group-btn SerachBtn">
          <div class="btn btn-default"><i class="fa fa-search"></i></div>
        </div>
      </div>
    </form>
  </div>


</nav>