<div>

  <section class="page-section portfolio" id="portfolio">
    <div class="loaders" *ngIf="!LoadingDataStatus">
      <app-loader></app-loader>
    </div>
    <div class="container loaders" *ngIf="LoadingDataStatus">
      <!-- Feed item title get from api-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 Heading">
        {{ FeedItem.feed.title || "" }}
      </h2>
      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fa fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- feed items showing usign ngfor -->
      <div class="row">
        <div *ngFor="let Items of FeedItem.feed.entry; let idx = index;" class="col-md-6 col-lg-4">
          <!-- add bootsrap data targe and tata toggle for open model -->
          <div class="portfolio-item mx-auto" data-toggle="modal" attr.data-target="#feedItem{{idx}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">

                <i class="fa fa-angle-double-right fa-3x"></i>
              </div>
            </div>
            <!-- ng for get link for image link  -->
            <div *ngFor="let img of Items.link">
              <!-- filter only imge/jpeg in array -->
              <div *ngIf="img['@attributes'].type=='image/jpeg'">
                <img class="img-fluid" [src]="img['@attributes'].href" alt="">
              </div>

            </div>
            <div class="row Itemtitle">
              <!-- image title -->
              <div>
                <h3>{{Items.author.name}}</h3>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>




  <!-- feed item model for show more details and loaging inner html coming from api-->
  <div *ngFor="let Items of FeedItem.feed.entry; let idnx = index;" attr.id="feedItem{{idnx}}"
    class="portfolio-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center ModeContainer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!--  Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{Items.title}}</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!--load inner html -->
                <p class="mb-5"> <label [innerHtml]="Items.content"></label></p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fa fa-times fa-fw"></i>
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>